*{
    padding: 0;
    margin: 0;
}
html{
   background-color:rgb(172 239 223 / 90% );
   /* rgb(164 192 194 / 90% */
    width: 100vw;
    height: 200vh;
    overflow-x:hidden

}

.ul1{
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 2vw;
    position: absolute; 
    left: 14vw;
    top: 0vh;
    /* background-color:rgb(172 239 223 / 90%) ; */
    
}
.navLi{
    opacity: 50%;
    color: black;
    margin-top: 6vh;
    margin-left: 3vw;
    list-style: none;
    transition: all .5s ease-in-out ;
}
.navLink{
    color: black;
}
.navLi:hover{
    transform: translateY(15px);
    transform: scale(1.25);
    opacity: 90%;
    margin-right: 8vh;
}
a:visited,a:link{
    text-decoration: none;

}
.sv{
    position: fixed;
    top: 5vh;
    opacity: 80%;
    left: 8vh;
    height: 8vh;
    /* mix-blend-mode: color; */
}
.am{
    /* z-index: -1; */
    position: absolute;
    top: 35vh;
    left: 17vw;
    font-size: 5vw;
    color: black;
    font-family: "Montserrat", sans-serif;
}
.container2{
    border: black 2px solid;
    position: fixed;
    height: 150vh;
    width: 45vw;
    right: -13.5vw;
    align-items: center;
    
    border-radius: 15vw;
    background-color: aliceblue;
}

.profile{
    position:fixed;
    top: -52vh;
    right: -10vw;
    mix-blend-mode:multiply;
    height: 200vh;
    padding-right: -10vw;
}
.container3{
    position: absolute;
    top: 48.9vh;
    left: 16vw;
    height: 11vh;
    width: 38vw;
    border: 2px solid black;
}
.container4{
    position: absolute;
    top: 120vh;
    left: 10vw;
    height: 11vh;
    width: 38vw;
    /* border: 2px solid black; */
}
.text1{
    font-size: 7ch;
    font-family: "Arimo", sans-serif;
 
}
.container5{
    word-wrap: normal;
    position: absolute;
    top: 140vh;
    left: 10vw;
    height: 50vh;
    width: 43vw;
    /* border: 2px solid black; */
}
.text2{
    position:relative;
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    line-height: 4.3vh;

}